<ul>
	<li><a href="http://www.uneditorial.com/">Colecciones</a></li>
	<li style="display:none;"><a href="/autores">Autores</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/administracion-y-empresa.html">Administración</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/agropecuario.html">Agropecuario</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/arte-arquitectura-dise-o.html">Artes</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/ciencias-de-la-salud.html">Ciencias de la salud</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/ciencias-exactas.html">Ciencias exactas</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/ciencias-politicas.html">Ciencias políticas</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/ciencias-sociales.html">Ciencias sociales</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/derecho.html">Derecho</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/ingenieria.html">Ingeniería</a></li>
	<li><a href="http://www.uneditorial.com/libros/profesionales-y-tecnicos/linguistica-y-lenguas.html">Lingüística</a></li>
	<li><a href="http://www.uneditorial.com/libros/interes-general.html">Literatura</a></li>
</ul>
<h2>FILTRAR por</h2>
<ul id="accordion1">
	<li><a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Disponibilidad</a>
	<ul id="collapse1" class="collapse">
		<li><a href="http://www.uneditorial.com/libros.html?in-stock=1">Disponible</a></li>
		<li><a href="http://www.uneditorial.com/libros.html?in-stock=0">No disponible</a></li>
	</ul>
	</li>
	<li><a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">Precio</a>
	<ul id="collapse2" class="collapse">
		<li><a href="http://www.uneditorial.com/libros.html?price=-15000">$0 - $15000</a></li>
		<li><a href="http://www.uneditorial.com/libros.html?price=15000-30000">$15000 - $30000</a></li>
		<li><a href="http://www.uneditorial.com/libros.html?price=30000-45000">$30000 - $45000</a></li>
		<li><a href="http://www.uneditorial.com/libros.html?price=45000-60000">$45000 - $60000</a></li>
		<li><a href="http://www.uneditorial.com/libros.html?price=40000-75000">$60000 - $75000</a></li>
		<li><a href="http://www.uneditorial.com/libros.html?price=75000-">$75000 en adelante</a></li>
	</ul>
	</li>
	<li><a data-toggle="collapse" data-parent="#accordion1" href="#collapse3">Formato</a>
	<ul id="collapse3" class="collapse">
		<li><a href="http://www.uneditorial.com/libros.html">Impreso</a></li>
		<li><a href="http://www.uneditorial.com/e-book.html">e-Book</a></li>
		<li><a href="http://www.uneditorial.com/libros.html">Revista</a></li>
		<li><a href="http://www.uneditorial.com/libros.html?products_format=2211">CD y DVD</a></li>
		<li><a href="http://www.uneditorial.com/descarga-gratuita.html">Descarga gratuita</a></li>
	</ul>
	</li>
</ul>
<p>
	Somos el Sello Editorial UN especializado en la producción, distribución y difusión de contenidos editoriales de carácter científico, que apoyan la labor académica de la Universidad Nacional de Colombia y otras instituciones educativas en nuestro país.
</p>
<div class="logo-editorial">
</div>
<div class="logo-uncuenta">
</div>