<div class="barrahermes">
	<div class="logoHermes">
		<a href="http://www.hermes.unal.edu.co/">
			<f:image alt="Logo Hermes" src="EXT:bibliotecas_bogota/Resources/Public/Images/iconos/buscador/loghermes.png" height="144" width="412" title=""/>
		</a>
	</div>
	<div class="containerbuscador">
		<div class="buscahermes">
		<form class="allcateg" action="http://www.hermes.unal.edu.co/" method="get" target="_blank">
					<div class="categoria">
						<a href="http://www.hermes.unal.edu.co/" target="blank"><p>Todas las categorías</p></a>
					</div>
					<div class="flechahermes">
						<a href="http://www.hermes.unal.edu.co/" target="blank"></a>
					</div>
					<input class="campos" type="text" placeholder="Busque una palabra clave o elija una categoría" name="busq"/>
					<input class="botonhermes" value="" type="submit"/>
			</form>
		</div>
	</div>
	<div class="contactohermes">
		<p>
		<span style="color:#fd7341">Correo electrónico: </span>
		<span style="color:#2cb7eb">hermes@unal.edu.co. </span>
		<span style="color:#fd7341">Línea de atención: </span>
		<span style="color:#828282; font-weight:bold">316 5000 </span>
		<span style="color:#828282">ext. </span>
		<span style="color:#828282; font-weight:bold">11 111 </span>
		<span style="color:#2cb7eb">#1 </span>
		<span style="color:#828282">investigación </span>
		<span style="color:#2cb7eb">#2 </span>
		<span style="color:#828282">extensión y educación contínua </span>
		<span style="color:#2cb7eb">#3 </span>
		<span style="color:#828282">laboratorios.</span>
		</p>
	</div>
</div>
