<div class="totalcontainer">
	<div class="tabHermes">
		<button class="twittertab" class="tablinks" onclick="openRed(event, 'Twitter')" id="defaultOpen"><f:image alt="Logo Twitter" src="EXT:bibliotecas_bogota/Resources/Public/Images/iconos/buscador/twitter18.png" height="18" width="18"/></button>
		<button class="fbtab" class="tablinks" onclick="openRed(event, 'Fb')"><f:image alt="Logo Facebook" src="EXT:bibliotecas_bogota/Resources/Public/Images/iconos/buscador/face18.png" height="18" width="18"/></button>
	</div>
	<div class="redes">
		<div class="encabezadoCalendario">
			<p>
				Próximos eventos
			</p>
		</div>
		<div class="tabscontainer">
			<div id="Twitter" class="tabcontent">
				<a class="twitter-timeline" href="https://twitter.com/VRI_UN?ref_src=twsrc%5Etfw" width="265" height="255" style="border:none;overflow:hidden" data-chrome="nofooter noheader"></a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div id="Fb" class="tabcontent">
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FVRI.UN&tabs=timeline&width=265&height=260&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="265" height="255" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media">
				
				</iframe>
			</div>
		</div>
		<div class="pietabs">
		</div>
	</div>
</div>
