<section id="ayudaBibliotecas">
    <h2>Formación y asistencia</h2>
    <ul class="listaHorizontal">
        <li class="tarjeta">
            <f:link.page class="contenedorTarjeta" pageUid="{agendaFormacion}">
                <i data-feather="calendar"></i>
                <div class="titulo">
                    Agenda de formación
                </div>
                <div class="texto">
                    Acceda a las capacitaciones programadas en las bibliotecas de la sede.
                </div>
            </f:link.page>
        </li>
        <li class="tarjeta">
            <f:link.page class="contenedorTarjeta" pageUid="{agendaCultural}">
                <i data-feather="film"></i>
                <div class="titulo">
                    Agenda cultural
                </div>
                <div class="texto">
                    Conozca las actividades culturales programadas en las bibliotecas de la sede.
                </div>
            </f:link.page>
        </li>
        <li class="tarjeta">
            <f:link.page class="contenedorTarjeta" pageUid="{chatBibliotecario}">
                <i data-feather="message-square"></i>
                <div class="titulo">
                    Chat con el bibliotecario
                </div>
                <div class="texto">
                    Obtenga asistencia virtual con el bibliotecario de la sede.
                </div>
            </f:link.page>
        </li>
        <li class="tarjeta">
            <f:link.page class="contenedorTarjeta" pageUid="46">
                <i data-feather="help-circle"></i>
                <div class="titulo">
                    Preguntas frecuentes
                </div>
                <div class="texto">
                    Conozca las respuestas a preguntas frecuentes sobre nuestros recursos y servicios.
                </div>
            </f:link.page>
        </li>
    </ul>
</section>
