<section id="ayudaBibliotecas">
    <h2>Formación y asistencia</h2>
    <ul class="listaHorizontal">
        <li class="tarjeta">
            <div class="contenedorTarjeta">
                <i data-feather="calendar"></i>
                <div class="titulo">
                    Agenda de formación
                </div>
                <ul class="texto">
                    <li><f:link.page pageUid="219">Amazonía</f:link.page></li>
                    <li><f:link.page pageUid="223">Bogotá</f:link.page></li>
                    <li><f:link.page pageUid="227">Caribe</f:link.page></li>
                    <li><f:link.page pageUid="231">Manizales</f:link.page></li>
                    <li><f:link.page pageUid="235">Medellín</f:link.page></li>
                    <li><f:link.page pageUid="239">Orinoquía</f:link.page></li>
                    <li><f:link.page pageUid="243">Palmira</f:link.page></li>
                </ul>
            </div>
        </li>
        <li class="tarjeta">
            <div class="contenedorTarjeta">
                <i data-feather="film"></i>
                <div class="titulo">
                    Agenda cultural
                </div>
                <ul class="texto">
                    <li><f:link.page pageUid="220">Amazonía</f:link.page></li>
                    <li><f:link.page pageUid="224">Bogotá</f:link.page></li>
                    <li><f:link.page pageUid="228">Caribe</f:link.page></li>
                    <li><f:link.page pageUid="232">Manizales</f:link.page></li>
                    <li><f:link.page pageUid="236">Medellín</f:link.page></li>
                    <li><f:link.page pageUid="240">Orinoquía</f:link.page></li>
                    <li><f:link.page pageUid="244">Palmira</f:link.page></li>
                </ul>
            </div>
        </li>
        <li class="tarjeta">
            <div class="contenedorTarjeta">
                <i data-feather="message-square"></i>
                <div class="titulo">
                    Chat con el bibliotecario
                </div>
                <ul class="texto">
                    <li><f:link.page pageUid="221">Amazonía</f:link.page></li>
                    <li><f:link.page pageUid="225">Bogotá</f:link.page></li>
                    <li><f:link.page pageUid="229">Caribe</f:link.page></li>
                    <li><f:link.page pageUid="233">Manizales</f:link.page></li>
                    <li><f:link.page pageUid="237">Medellín</f:link.page></li>
                    <li><f:link.page pageUid="241">Orinoquía</f:link.page></li>
                    <li><f:link.page pageUid="245">Palmira</f:link.page></li>
                </ul>
            </div>
        </li>
        <li class="tarjeta">
            <f:link.page class="contenedorTarjeta" pageUid="46">
                <i data-feather="help-circle"></i>
                <div class="titulo">
                    Preguntas frecuentes
                </div>
                <div class="texto">
                    Conozca la respuestas a preguntas frecuentes sobre nuestros recursos y servicios.
                </div>
            </f:link.page>
        </li>
    </ul>
</section>
