<nav id="menuBibliotecas">
    <ul class="listaHorizontal">
        <li>
            <f:link.page pageUid="28">
                <i data-feather="book-open"></i>
            </f:link.page>
            <f:link.page pageUid="28">
                Servicios en sala
            </f:link.page>
        </li>
        <li>
            <f:link.page pageUid="29">
                <i data-feather="cast"></i>
            </f:link.page>
            <f:link.page pageUid="29">
                Servicios en línea
            </f:link.page>
        </li>
        <li>
            <f:link.page pageUid="30">
                <i data-feather="save"></i>
            </f:link.page>
            <f:link.page pageUid="30">
                Recursos
            </f:link.page>
        </li>
        <li>
            <f:link.page pageUid="{anunciosEventosNoticias}">
                <i data-feather="bell"></i>
            </f:link.page>
            <f:link.page pageUid="{anunciosEventosNoticias}">
                Anuncios, eventos y noticias
            </f:link.page>
        </li>
        <li>
            <f:link.page pageUid="{chatBibliotecario}">
                <i data-feather="message-square"></i>
            </f:link.page>
            <f:link.page pageUid="{chatBibliotecario}">
                Chat con el bibliotecario
            </f:link.page>
        </li>
    </ul>
</nav>
