<div class="contenedorElementos">
	<a class="tituloSitio" href="">
		<div class="titulo">Bibliotecas</div>
		<f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Sistema Nacional de Bibliotecas Universidad Nacional de Colombia" title="Bibliotecas Universidad Nacional de Colombia"/>
	</a>
	<nav class="selectorBuscador">
		<button id="descubridorBoton" class="pestanaBuscador active" onclick="seleccionBuscador('descubridor', 'ebscohostsearchtext')" title="Pulse para buscar con el Descubridor">Descubridor</button>
		<button id="catalogoBoton" class="pestanaBuscador" onclick="seleccionBuscador('catalogo', 'catalogoBusqueda')" title="Pulse para buscar en el Catálogo">Catálogo</button>
		<!-- <button id="recursosBoton" class="pestanaBuscador" onclick="seleccionBuscador('recursos', 'recursosBusqueda')" title="Pulse para buscar en los Recursos electrónicos">Recursos electrónicos</a></button> -->
		<button id="revistasBoton" class="pestanaBuscador" onclick="seleccionBuscador('revistas', 'revistasBusqueda')" title="Pulse para buscar en el Portal de revistas">Portal de revistas</button>
		<button id="repositorioBoton" class="pestanaBuscador" onclick="seleccionBuscador('repositorio', 'repositorioBusqueda')" title="Pulse para buscar en el Repositorio institucional">Repositorio institucional</button>
		<button id="buscadorLocalBoton" class="pestanaBuscador" onclick="seleccionBuscador('buscadorLocal', 'buscadorLocalBusqueda')" title="Pulse para buscar en las páginas de este sitio web">Sede Bogotá</button>
	</nav>
	<div class="contenedorBuscadores">
		<div class="contenidoBuscador active" id="descubridor">
			<form class="campoBusqueda" id="sbEDS" onsubmit="return ebscoHostSearchGo(this);" method="post" action="" target="_blank">
				<input type="hidden" id="ebscohostwindow" name="ebscohostwindow" value="1"/>
				<input type="hidden" id="ebscohosturl" name="ebscohosturl" value="http://search.ebscohost.com/login.aspx?direct=true&site=eds-live&scope=site&type=0&custid=s1229929&groupid=main&profid=eds&mode=all&lang=es&authtype=ip,guest"/>
				<input type="hidden" id="ebscohostsearchsrc" name="ebscohostsearchsrc" value="db"/>
				<input type="hidden" id="ebscohostsearchmode" name="ebscohostsearchmode" value="+"/>
				<input type="hidden" id="ebscohostkeywords" name="ebscohostkeywords" value=""/>
				<input type="hidden" id="searchFieldSelector" name="searchFieldSelector" value=""/>
				<input type="text" id="ebscohostsearchtext" name="ebscohostsearchtext" placeholder="Busque en todos los recursos bibliográficos disponibles"/>
				<button type="submit">Buscar</button>
			</form>
		</div>
		<div class="contenidoBuscador" id="catalogo">
			<form class="campoBusqueda" method="get" action="http://168.176.5.96/F/" target="_blank">
				<input type="hidden" name="func" value="find-b">
				<input id="catalogoBusqueda" type="text" name="request" placeholder="Ubique los recursos físicos disponibles">
				<input type="hidden" name="find_code" value="WRD">
				<input type="hidden" name="adjacent" value="N">
				<button type="submit">Buscar</button>
			</form>
			<!-- <form class="campoBusqueda" onsubmit="return ebscoHostSearchOther(this);" method="post" action="" target="_blank">
				<input type="hidden" id="ebscohostwindow" name="ebscohostwindow" value="1"/>
				<input type="hidden" id="ebscohosturl" name="ebscohosturl" value="http://search.ebscohost.com/login.aspx?direct=true&site=eds-live&scope=site&type=0&custid=s1229929&groupid=main&profid=eds&mode=bool&lang=es&authtype=ip,guest,uid&cli0=FC&clv0=Y"/>
				<input type="hidden" id="ebscohostsearchsrc" name="ebscohostsearchsrc" value="db"/>
				<input type="hidden" id="ebscohostsearchmode" name="ebscohostsearchmode" value="+"/>
				<input type="hidden" id="ebscohostkeywords" name="ebscohostkeywords" value=""/>
				<input type="hidden" id="searchFieldSelector" name="searchFieldSelector" value=""/>
				<input type="text" id="ebscohostsearchtext" name="ebscohostsearchtext" placeholder="Busque en los recursos físicos disponibles">
				<button type="submit">Buscar</button>
			</form> -->
		</div>
		<!-- <div class="contenidoBuscador" id="recursos">
			<form class="campoBusqueda" method="post" action="http://bases.unal.edu.co/subjects/databases.php" target="_blank">
				<input id="recursosBusqueda" type="text" name="searchterm" placeholder="Busque en los recursos electrónicos suscritos, diccionarios, enciclopedias y herramientas bibliográficas disponibles">
				<button type="submit">Buscar</button>
			</form>
		</div> -->
		<div class="contenidoBuscador" id="revistas">
			<form class="campoBusqueda" method="post" action="https://revistas.unal.edu.co/index.php/index/search/search" target="_blank">
				<input id="revistasBusqueda" type="text" name="query" value=""  placeholder="Busque en las revistas académicas publicadas por la Universidad Nacional de Colombia"/>
				<button type="submit">Buscar</button>
			</form>
		</div>
		<div class="contenidoBuscador" id="repositorio">
			<form class="campoBusqueda" method="get" action="https://repositorio.unal.edu.co/discover" target="_blank">
				<input id="repositorioBusqueda" type="text" name="query" placeholder="Busque en los documentos de producción académica, científica y patrimonial de la Universidad Nacional de Colombia"/>
				<button type="submit">Buscar</button>
			</form>
		</div>
		<div class="contenidoBuscador" id="buscadorLocal">
			<form class="campoBusqueda" method="get" action="http://bibliotecasbogota.unal.edu.co/resultados-de-la-busqueda">
				<input id="buscadorLocalBusqueda" type="text" name="q" placeholder="Encuentre más información de las bibliotecas de la sede Bogotá"/>
				<button type="submit">Buscar</button>
			</form>
		</div>
	</div>
</div>
