<section id="atajosBibliotecas">
    <svg><filter id="filtroGris" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%"><feColorMatrix type="matrix" values="0.67 0 0 0 0 0 0.67 0 0 0 0 0 0.67 0 0 0 0 0 1 0" /></filter></svg>
    <svg><filter id="filtroAzul" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%"><feColorMatrix type="matrix" values="0.13 0 0 0 0 0 0.23 0 0 0 0 0 0.49 0 0 0 0 0 1 0" /></filter></svg>
    <div class="contenedorElementos">
        <ul class="listaHorizontal">
            <li class="atajoBibliotecas">
                <f:link.page pageUid="1">
                    <div class="titulo">
                        bibliotecas
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Portal Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.page>
            </li>
            <li class="atajoBibliotecas">
                <f:link.page pageUid="28" target="_blank">
                    <div class="titulo">
                        catálogo
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Catálogo bibliográfico Bibliotecas Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.page>
            </li>
            <li class="atajoBibliotecas">
                <f:link.page pageUid="29" target="_blank">
                    <div class="titulo">
                        recursos
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Bases de datos Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.page>
            </li>
            <li class="atajoBibliotecas">
                <f:link.page pageUid="30" target="_blank">
                    <div class="titulo">
                        repositorio institucional
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Repositorio institucional Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.page>
            </li>
            <li class="atajoBibliotecas">
                <f:link.page pageUid="31" target="_blank">
                    <div class="titulo">
                        portal de revistas
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Portal de revistas Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.page>
            </li>
        </ul>
    </div>
</section>
