<section id="atajosBibliotecas">
    <svg><filter id="filtroGris" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%"><feColorMatrix type="matrix" values="0.67 0 0 0 0 0 0.67 0 0 0 0 0 0.67 0 0 0 0 0 1 0" /></filter></svg>
    <svg><filter id="filtroAzul" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%"><feColorMatrix type="matrix" values="0.13 0 0 0 0 0 0.23 0 0 0 0 0 0.49 0 0 0 0 0 1 0" /></filter></svg>
    <div class="contenedorElementos">
        <h2 class="elementoOculto">Plataformas y sistemas de información</h2>
        <ul class="listaHorizontal">
            <li class="atajoBibliotecas">
                <f:link.external uri="https://bibliotecas.unal.edu.co">
                    <div class="titulo">
                        Bibliotecas
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Portal Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.external>
            </li>
            <li class="atajoBibliotecas">
                <f:link.external uri="http://www.catalogo.unal.edu.co" target="_blank">
                    <div class="titulo">
                        Catálogo
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Catálogo bibliográfico Bibliotecas Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.external>
            </li>
            <li class="atajoBibliotecas">
                <f:link.external uri="http://bases.unal.edu.co" target="_blank">
                    <div class="titulo">
                        Recursos
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Bases de datos Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.external>
            </li>
            <li class="atajoBibliotecas">
                <f:link.external uri="https://repositorio.unal.edu.co" target="_blank">
                    <div class="titulo">
                        Repositorio institucional
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Repositorio institucional Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.external>
            </li>
            <li class="atajoBibliotecas">
                <f:link.external uri="https://revistas.unal.edu.co" target="_blank">
                    <div class="titulo">
                        Portal de revistas
                    </div>
                    <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/iconos/unNegativo.png" alt="Portal de revistas Bibliotecas Universidad Nacional de Colombia" title=""/>
                </f:link.external>
            </li>
        </ul>
    </div>
</section>
