<section id="redesSociales">
    <div class="contenedorElementos">
        <h2 class="elementoOculto">Redes sociales</h2>
        <ul class="listaHorizontal">
            <li class="redesBibliotecas">
                <f:link.external uri="{redesSocialesFacebook}" target="_blank">
                    <i data-feather="facebook"></i>
                    <div class="titulo">
                        Facebook
                    </div>
                </f:link.external>
            </li>
            <li class="redesBibliotecas">
                <f:link.external uri="{redesSocialesInstagram}" target="_blank">
                    <i data-feather="instagram"></i>
                    <div class="titulo">
                        Instagram
                    </div>
                </f:link.external>
            </li>
            <li class="redesBibliotecas">
                <f:link.external uri="{redesSocialesTwitter}" target="_blank">
                    <i data-feather="twitter"></i>
                    <div class="titulo">
                        Twitter
                    </div>
                </f:link.external>
            </li>
            <li class="redesBibliotecas">
                <f:link.external uri="{redesSocialesYoutube}" target="_blank">
                    <i data-feather="youtube"></i>
                    <div class="titulo">
                        YouTube
                    </div>
                </f:link.external>
            </li>
            <li class="redesBibliotecas">
                <f:link.email email="{redesSocialesEmail}" target="_blank">
                    <i data-feather="mail"></i>
                    <div class="titulo">
                        Email
                    </div>
                </f:link.email>
            </li>
            <li class="redesBibliotecas">
                <f:link.external uri="{redesSocialesRss}" target="_blank">
                    <i data-feather="rss"></i>
                    <div class="titulo">
                        RSS
                    </div>
                </f:link.external>
            </li>
        </ul>
    </div>
</section>
