<section id="sedesBibliotecas">
    <h2 class="elementoOculto">Sedes</h2>
    <ul class="listaHorizontal">
        <li class="sedeBibliotecas">
            <f:link.page pageUid="10">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/nivel-central.jpg" alt="Portal Bibliotecas" title="Portal web de Bibliotecas"/>
                <div class="titulo">
                    Nivel nacional
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="11">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/amazonia.jpg" alt="Bibliotecas sede Amazonía" title="Sede Amazonía"/>
                <div class="titulo">
                    Amazonía
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="1">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/bogota.jpg" alt="Bibliotecas sede Bogotá" title="Sede Bogotá"/>
                <div class="titulo">
                    Bogotá
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="13">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/caribe.jpg" alt="Bibliotecas sede Caribe" title="Sede Caribe"/>
                <div class="titulo">
                    Caribe
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="14">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/manizales.jpg" alt="Bibliotecas sede Manizales" title="Sede Manizales"/>
                <div class="titulo">
                    Manizales
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="15">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/medellin.jpg" alt="Bibliotecas sede Medellín" title="Sede Medellín"/>
                <div class="titulo">
                    Medellín
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="16">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/orinoquia.jpg" alt="Bibliotecas sede Orinoquía" title="Sede Orinoquía"/>
                <div class="titulo">
                    Orinoquía
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="17">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/palmira.jpg" alt="Bibliotecas sede Palmira" title="Sede Palmira"/>
                <div class="titulo">
                    Palmira
                </div>
            </f:link.page>
        </li>
    </ul>
</section>
