<section id="sedesBibliotecas">
    <h2 class="elementoOculto">Sedes Bibliotecas</h2>
    <ul class="listaHorizontal">
        <li class="sedeBibliotecas">
            <f:link.page pageUid="10">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/nivel-central.jpg" alt="Nivel Nacional Bibliotecas sitio web ir" title="Portal web de Bibliotecas"/>
                <div class="titulo">
                    Nivel nacional
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="11">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/amazonia.jpg" alt="Amazonía Bibliotecas sitio web ir" title="Sede Amazonía"/>
                <div class="titulo">
                    Amazonía
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="1">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/bogota.jpg" alt="Bogotá Bibliotecas sitio web ir" title="Sede Bogotá"/>
                <div class="titulo">
                    Bogotá
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="13">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/caribe.jpg" alt="Caribe Bibliotecas sitio web ir" title="Sede Caribe"/>
                <div class="titulo">
                    Caribe
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="88">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/la-paz.jpg" alt="La Paz Bibliotecas sitio web ir" title="Sede La Paz"/>
                <div class="titulo">
                    La Paz
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="14">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/manizales.jpg" alt="Manizales Bibliotecas sitio web ir" title="Sede Manizales"/>
                <div class="titulo">
                    Manizales
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="15">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/medellin.jpg" alt="Medellín Bibliotecas sitio web ir" title="Sede Medellín"/>
                <div class="titulo">
                    Medellín
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="16">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/orinoquia.jpg" alt="Orinoquía Bibliotecas sitio web ir" title="Sede Orinoquía"/>
                <div class="titulo">
                    Orinoquía
                </div>
            </f:link.page>
        </li>
        <li class="sedeBibliotecas">
            <f:link.page pageUid="17">
                <f:image src="EXT:bibliotecas_bogota/Resources/Public/Bibliotecas/images/sedes/palmira.jpg" alt="Palmira Bibliotecas sitio web ir" title="Sede Palmira"/>
                <div class="titulo">
                    Palmira
                </div>
            </f:link.page>
        </li>
    </ul>
</section>
