<footer class="clear container-fluid">
	<div class="row">
		<nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
			<a href="http://www.legal.unal.edu.co" target="_top" alt="Régimen Legal sitio web ir">Régimen Legal</a>
			<a href="http://personal.unal.edu.co" target="_top" alt="Talento humano sitio web ir">Talento humano</a>
			<a href="http://contratacion.unal.edu.co" target="_top" alt="Contratación sitio web ir">Contratación</a>
			<a href="http://personal.unal.edu.co" target="_top" alt="Ofertas de empleo sitio web ir">Ofertas de empleo</a>
			<a href="http://rendiciondecuentas.unal.edu.co/" target="_top" alt="Rendición de cuentas sitio web ir">Rendición de cuentas</a>
			<a href="http://docentes.unal.edu.co/concurso-profesoral/" target="_top" alt="Concurso docente sitio web ir">Concurso docente</a>
			<a href="http://www.pagovirtual.unal.edu.co/" target="_top" alt="Pago Virtual sitio web ir">Pago Virtual</a>
			<a href="http://controlinterno.unal.edu.co/" target="_top" alt="Control interno sitio web ir">Control interno</a>
			<a href="http://siga.unal.edu.co" target="_top" alt="Calidad sitio web ir">Calidad</a>
			<a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self" alt="Buzón de notificaciones sitio web ir">Buzón de notificaciones</a>
		</nav>
		<nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
			<a href="http://correo.unal.edu.co" target="_top" alt="Correo institucional sitio web ir">Correo institucional</a>
			<f:cObject typoscriptObjectPath="lib.sitemapPage"/>
			<a href="http://redessociales.unal.edu.co" target="_top" alt="Redes Sociales sitio web ir">Redes Sociales</a>
			<a href="index.html">FAQ</a>
			<a href="http://unal.edu.co/quejas-y-reclamos/" target="_self" alt="Quejas y reclamos página unal ir">Quejas y reclamos</a>
			<a href="http://unal.edu.co/atencion-en-linea/" target="_self" alt="Atención en línea página unal ir">Atención en línea</a>
			<a href="http://unal.edu.co/encuesta/" target="_self" alt="Encuesta página unal ir">Encuesta</a>
			<a href="tel:+031-316-5000,20004">Contáctenos</a>
			<a href="http://www.onp.unal.edu.co" target="_top" alt="Estadísticas sitio web ir">Estadísticas</a>
			<a href="index.html#">Glosario</a>
		</nav>
		<div class="col-lg-4 col-md-4 col-sm-4 col-12 footer-info">
			<div class="row footer-info-spacing">
				<p class="col-lg-6 col-md-12 col-sm-12 col-6 contacto">
					<b>Contacto página web:</b><br/><f:cObject typoscriptObjectPath="lib.contacto"/>
				</p>
				<p class="col-lg-6 col-md-12 col-sm-12 col-6 derechos">
					<a href="http://www.legal.unal.edu.co/rlunal/home/doc.jsp?d_i=34248" target="_blank" alt="Reglamento sobre Propiedad Intelectual página unal ir">&copy; Copyright 2019</a><br/>
					Algunos derechos reservados.<br/>
					<a href="mailto:<f:cObject typoscriptObjectPath='lib.webmaster'/>" title="Comuníquese con el administrador de este sitio web" class="mail" alt="Correo electrónico crear mensaje"><f:cObject typoscriptObjectPath="lib.webmaster"/></a><br/>
					<f:cObject typoscriptObjectPath="lib.acercaDe"/><br/> Actualización: <f:cObject typoscriptObjectPath="lib.cambios"/>
				</p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-12 logos">
			<div class="row px-3">
				<div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
					<div class="row mx-1">
						<a class="col-md-12 col-sm-6 col-6" href="http://www.orgulloun.unal.edu.co" alt="Orgullo UN sitio web ir">
							<f:image class="hidden-print" alt="Orgullo UN" src="EXT:bibliotecas_bogota/Resources/Public/Unal/images/log_orgullo.png" width="78" height="21" title="Orgullo UN"/>
							<f:image class="d-none d-print-block" alt="Orgullo UN" src="EXT:bibliotecas_bogota/Resources/Public/Unal/images/log_orgullo_black.png" width="94" height="37" title="Orgullo UN"/>
						</a>
						<a class="col-md-12 col-sm-6 col-6 imgAgencia" href="http://www.agenciadenoticias.unal.edu.co/inicio.html" alt="Agencia de noticias sitio web ir">
							<f:image class="hidden-print" alt="Agencia de noticias" src="EXT:bibliotecas_bogota/Resources/Public/Unal/images/log_agenc.png" width="94" height="25" title="Agencia de noticias"/>
							<f:image class="d-none d-print-block" alt="Agencia de noticias" src="EXT:bibliotecas_bogota/Resources/Public/Unal/images/log_agenc_black.png" width="94" height="37" title="Agencia de noticias"/>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
					<div class="row mx-1">
						<a class="col-md-12 col-sm-6 col-6" href="https://www.gov.co/" alt="Portal Único del Estado Colombiano sitio web ir">
							<f:image alt="Portal Único del Estado Colombiano" src="EXT:bibliotecas_bogota/Resources/Public/Unal/images/log_gobiern.png" width="67" height="51" title="Portal Único del Estado Colombiano"/>
						</a>
						<a class="col-md-12 col-sm-6 col-6" href="http://www.contaduria.gov.co/" alt="Contaduría General de la República sitio web ir">
							<f:image alt="Contaduría General de la República" src="EXT:bibliotecas_bogota/Resources/Public/Unal/images/log_contra.png" width="67" height="51" title="Contaduría General de la República"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
