<footer class="clear">
	<nav class="col-md-3 col-lg-3 col-sm-3 col-xs-4 col-xxs-6 gobiernoLinea">
		<a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a>
		<a href="http://personal.unal.edu.co" target="_top">Talento humano</a>
		<a href="http://contratacion.unal.edu.co" target="_top">Contratación</a>
		<a href="http://personal.unal.edu.co" target="_top">Ofertas de empleo</a>
		<a href="http://rendiciondecuentas.unal.edu.co/" target="_top">Rendición de cuentas</a>
		<a href="http://docentes.unal.edu.co/concurso-profesoral/" target="_top">Concurso docente</a>
		<a href="http://www.pagovirtual.unal.edu.co/" target="_top">Pago Virtual</a>
		<a href="http://controlinterno.unal.edu.co/" target="_top">Control interno</a>
		<a href="http://siga.unal.edu.co" target="_top">Calidad</a>
		<a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">Buzón de notificaciones</a>
	</nav>
	<nav class="col-md-3 col-lg-3 col-sm-3 col-xs-4 col-xxs-6 gobiernoLinea">
		<a href="http://correo.unal.edu.co" target="_top">Correo institucional</a>
		<f:cObject typoscriptObjectPath="lib.sitemapPage"/>
		<a href="http://redessociales.unal.edu.co" target="_top">Redes Sociales</a>
		<a href="index.html">FAQ</a>
		<a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">Quejas y reclamos</a>
		<a href="http://unal.edu.co/atencion-en-linea/" target="_self">Atención en línea</a>
		<a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
		<a href="tel:+031-316-5000,20004">Contáctenos</a>
		<a href="http://www.onp.unal.edu.co" target="_top">Estadísticas</a>
		<a href="index.html#">Glosario</a>
	</nav>
	<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 col-xxs-12 footer-info">
		<p class="col-sm-12 col-md-6 contacto">
			<b>Contacto página web:</b><br/><f:cObject typoscriptObjectPath="lib.contacto"/>
		</p>
		<p class="col-sm-12 col-md-6 derechos">
			© Copyright 2014<br/> Algunos derechos reservados.<br/>
			<a href="mailto:<f:cObject typoscriptObjectPath="lib.webmaster"/>" title="Comuníquese con el administrador de este sitio web" class="mail"><f:cObject typoscriptObjectPath="lib.webmaster"/></a><br/>
			<f:cObject typoscriptObjectPath="lib.acercaDe"/><br/> Actualización: <f:cObject typoscriptObjectPath="lib.cambios"/>
		</p>
	</div>
	<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 logos">
		<div class="col-xs-6 col-sm-12 col-md-6 no-padding">
			<a class="col-xs-6 col-sm-12" href="http://www.orgulloun.unal.edu.co">
				<f:image class="hidden-print" alt="Orgullo UN" src="EXT:bibliotecas_unal/Resources/Public/Unal/images/log_orgullo.png" width="78" height="21" title="Orgullo UN"/>
				<f:image class="visible-print" alt="Orgullo UN" src="EXT:bibliotecas_unal/Resources/Public/Unal/images/log_orgullo_black.png" width="94" height="37" title="Orgullo UN"/>
			</a>
			<a class="col-xs-6 col-sm-12 imgAgencia" href="http://www.agenciadenoticias.unal.edu.co/inicio.html">
				<f:image class="hidden-print" alt="Agencia de noticias" src="EXT:bibliotecas_unal/Resources/Public/Unal/images/log_agenc.png" width="94" height="25" title="Agencia de noticias"/>
				<f:image class="visible-print" alt="Agencia de noticias" src="EXT:bibliotecas_unal/Resources/Public/Unal/images/log_agenc_black.png" width="94" height="37" title="Agencia de noticias"/>
			</a>
		</div>
		<div class="col-xs-6 col-sm-12 col-md-6 no-padding">
			<a class="col-xs-6 col-sm-12" href="https://www.sivirtual.gov.co/memoficha-entidad/-/entidad/T0356">
				<f:image alt="Trámites en línea" src="EXT:bibliotecas_unal/Resources/Public/Unal/images/log_gobiern.png" width="67" height="51" title="Trámites en línea"/>
			</a>
			<a class="col-xs-6 col-sm-12" href="http://www.contaduria.gov.co/">
				<f:image alt="Contaduría general de la republica" src="EXT:bibliotecas_unal/Resources/Public/Unal/images/log_contra.png" width="67" height="51" title="Contaduría general de la republica"/>
			</a>
		</div>
	</div>
</footer>
