<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<li class="entrada">
	<f:if condition="{newsItem.mediaPreviews}">
		<f:then>
			<n:link class="imagen" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
				<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
					<f:if condition="{mediaElement.originalResource.type} == 2">
						<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
					</f:if>
				</f:alias>
			</n:link>
		</f:then>
	</f:if>
	<n:removeMediaTags>
	<div class="info">
		<div class="texto">
			<time datetime="{f:format.date(date:newsItem.datetime,format:'Y-m-d')}"><f:format.date format="%d de %B de %Y">{newsItem.datetime}</f:format.date></time>
			<n:link newsItem="{newsItem}" settings="{settings}">
				<h3>{newsItem.title}</h3>
			</n:link>
			<f:if condition="{newsItem.teaser}">
				<f:then>
					{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
				</f:then>
			</f:if>
		</div>
		<n:link class="boton" newsItem="{newsItem}" settings="{settings}"><f:translate key="more-link"/></n:link>
	</div>
	</n:removeMediaTags>
</li>
</html>
