/******************************************************/
/***                  Buscador local                ***/
/******************************************************/

#___gcse_2 {
    margin: 1.5em 0 0;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es {
    padding: 0;
    font-family: "Ancizar sans";
    font-size: 17.5px;
    line-height: 1.125em;
    background: #fff;
    border: none;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-above-wrapper-area {
    border-bottom: 1px solid #ddd;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-above-wrapper-area table tr {
    border: none;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-above-wrapper-area .gsc-result-info-container {
    padding: 0;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-above-wrapper-area .gsc-result-info-container .gsc-result-info {
    padding: 0;
    font-size: 1em;
    color: #888;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult {
    width: 100%;
    padding: 0;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gsc-webResult.gsc-result {
    padding: 1em 0;
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gsc-webResult.gsc-result .gs-snippet {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gsc-cursor-box,
#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gcsc-more-maybe-branding-root {
    margin: 1.5em 0 0;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gsc-cursor-box .gsc-cursor {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gsc-cursor-box .gsc-cursor .gsc-cursor-page {
    color: #2678bf;
    text-decoration: none;
    background: none;
    border: none;
}

#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gsc-cursor-box .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page,
#___gcse_2 .gsc-control-cse.gsc-control-cse-es .gsc-wrapper .gsc-results.gsc-webResult .gsc-cursor-box .gsc-cursor .gsc-cursor-page:hover {
    color: #203b7e;
    text-decoration: none;
    background: none;
    border: none;
}